GAMEHUB_HOST=0.0.0.0
GAMEHUB_PORT=8080
GAMEHUB_ENVIRONMENT=development
GAMEHUB_LOG_LEVEL=info
GAMEHUB_POSTGRES_HOST=localhost
GAMEHUB_POSTGRES_PORT=5432
GAMEHUB_POSTGRES_DATABASE=gamehub
GAMEHUB_POSTGRES_USERNAME=gamehub
GAMEHUB_POSTGRES_PASSWORD=gamehub
GAMEHUB_POSTGRES_SSL_MODE=disable
